:root {
  /* Kolory tła i tekstu */
  --col-left-backgroud: #fff;
  --col-right-backgroud: #000;
  --col-left-text-color: #000;
  --col-right-text-color: #fff;
  --primary-color: orange;
  
}

$backgrond-color: purple;